



/* ============================================
MAIN BODY AREA
============================================ */
.Gen_Body{
    background-color: #e8e8e8;
    height: 100vh;
    width: 100vw;
    color: black;
    display: flex;
}




/* ============================================
HEADER PART AREA
============================================ */
.HeaderPart{
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 0px 10px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05); 
    height: 60px;
    width: 100%;
}

.HeaderProfilePart{
    display: flex;
    align-items: center;
}
.HeaderProfilePart img{
    background-color: #bdbdbd;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease, border 0.3s ease;
    cursor: pointer;
}
.HeaderProfilePart img:hover{
    border: 1px solid #1a2866; 
}
.HeaderProfilePart img.ProfileOpened{
    border: 2px solid #1a2866; 
    transform: scale(1.1);
}
.HeaderProfilePart p{
    font-size: 13px;
    margin-right: 10px;   
}
.DropdownMenu {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    font-size: 13px;
    z-index: 5;
}
.DropdownMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.DropdownMenu li {
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #000;
}
.DropdownMenu li:hover {
    background-color: #f1f1f1;
}

.NotifBtn{
    background-color: transparent;
    border: none;
    color: #1a2866;  
    transition: transform 0.3s ease, color 0.3s ease;
}
.NotifBtn:hover{
    scale: 1.1;
}
.NotifBtnOpened{
    background-color: transparent;
    border: none;
    color: #383838;  
    scale: 1.1;
}
@media (max-width: 600px) {
    .HeaderPart{
        justify-content:space-between;
    } 
}
.NotifBox{
    position: absolute;
    top: 50px;
    right: 160px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 13px; 
    width: 200px;
    height: 200px;
    overflow: hidden;
    z-index: 5;
}
.NotifBox h4{
    width: 100%;
    text-align: center;
    background-color: #101b49;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
.NotifBox div{
    padding: 5px;
}
.SeparationLine {
    width: 1px;
    height: 40px; 
    background-color: #ccc; 
    margin: 0 10px; 
}





/* ============================================
SIDEBAR PART AREA
============================================ */
.SidebarPart{
    background: linear-gradient(to bottom, #1a2866, #101b49);
    height: 100%;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s ease; 
    overflow: hidden;
}
.SidebarPart.closed {
    width: 80px;
}
.SidebarPart.closed button {
    justify-content: center; 
}
.mainLogo{
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3)); 
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.mainLogo img{
    width: 40px;
}
.mainLogo h2{
    color: #fff;
    padding-left: 10px;
    font-size: 33px;
    font-weight: 400;
}
.SidebarPart button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent; 
    color: white;
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.SidebarPart button.active {
    background-color: #101b49; 
    color: white; 
    font-weight: bolder;
}

.SidebarPart svg {
    margin-right: 8px; 
}
.SidebarToggler{
    background-color: rgba(0, 0, 0, 0.3) !important;
    width: 50px !important;
    height: 50px !important;
    text-align: center;
    border-radius: 10px;
    margin-top: 50px !important;
}
.SidebarPart.closed .SidebarToggler {
    transition: transform 0.3s ease; 
    transform: rotate(180deg); 
}
@media (max-width: 600px) {
    .SidebarPart {
        width: 0px;
    }
    .BurgerIcon{
        display: flex !important;
    }
    .SidebarPart.closed {
        width: 80px;
    }
    .SidebarPart.closed .SidebarToggler {
        transition: transform 0.3s ease; 
        transform: rotate(0deg); 
    }
}
.BurgerIcon{
    display: none;
    background-color: transparent;
    color: #101b49;
    border: none;
}
















/* ============================================
BODY AREA
============================================ */
.RightSideArea{
    background-color: transparent;
    width: 100%;
    height: 100%;
}
.BodyArea{
    background-color: transparent;
    height: 90%;
    width: 100%;
    padding: 10px;
    overflow: auto;
    padding-bottom:50px;
}

@media (max-width: 600px) {
    .BodyArea{
        height: 80%;
    } 
}







/* ============================================
DASHBOARD AREA
============================================ */
.DashBodyArea{
    width: 100%;
    height: 100%;
}

.alignerforDIV{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 600px) {
    .LowerSquares {
        grid-template-columns: 1fr !important;
    }

    .DashBodyArea{
        width: 100%;
    } 
    .UpperSquares{
        display: block;
        gap: 10px;
        grid-template-columns: 1fr !important;
    }
}


.MainAreaDiv{
    width: 100%;
}
.UpperSquares{
    display: grid;            
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 10px;
}

.UpperSquares div{
    background-color: #fff;
    color: #0a1f48;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.UpperSquares span{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.LowerSquares {
    display: grid;            
    grid-template-columns: 2fr 1fr 1fr; 
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.LowerSquares div{
    background-color: #fff;
    color: #0a1f48;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.DashTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.DashTable th,
.DashTable td {
    color: #000;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 12px;
    height: 30px !important; /* Apply height to th and td */
    overflow: hidden;
    text-overflow: ellipsis;

}

.DashTable th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f4f4f4;
    font-weight: bold;
    color: #333;
    padding: 5px;
}

.DashTable tr{
    transition: all 0.3s ease;
}
.DashTable tr:hover{
    background-color: #e3e3e3 !important;
}


.DashTableWrapper {
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 100% !important;
    overflow-y: auto;
    overflow-x: auto;
    padding: 0px !important;
    position: relative;
    background-color: #f9f9f9 !important;
}

.DashTable tr:nth-child(even) {
    background-color: #f4f4f4;
}

.DashTable tr:nth-child(odd) {
    background-color: #e9e9e9;
}



.DashTable button {
    padding: 2px 8px;
    margin: 0 2px;
    border: none;
    background-color: #2a3c86;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.DashTable button:hover {
    background-color: #1f2e6b;
}

.DashTable button:focus {
    outline: none;
    background-color: #182454;
    box-shadow: 0 0 0 3px rgba(19, 142, 203, 0.5);
}









/* ============================================
ITEM AREA
============================================ */
.ItemBodyArea{
    width: 100%;
    height: 100%;
}

.ItemBodyArea h2{
    color: #0a1f48;
    font-size: 22px;
}
.ItemBodyArea p{
    color: #1a2866;
    font-size: 13px;
}

@media (max-width: 600px) {
    .ItemBodyArea{
        width: 400%;
    } 
}



.ItemFilterArea{
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding-bottom: 20px;
    align-items: center;
}


/* SEARCH BAR */

.ItemFilterArea input {
    width: 25%;  
    padding: 2px 15px;
    font-size: 13px;  
    border: 2px solid #979797;  
    border-radius: 30px; 
    background-color: #f5f5f5; 
    outline: none;
    transition: all 0.3s ease-in-out;  
    color: #000;
}

.ItemFilterArea input:focus {
    border-color: #1a2866;  
    background-color: #fff; 
}
.ItemFilterArea input:hover {
    border-color: #1a2866;  
}
.ItemFilterArea input::placeholder {
    color: #888888;  
    font-style: italic;  
}

/* SELECT CATEGORY */
.ItemFilterArea select {
    color: #000;
    width: 100%;
    padding: 2px 10px;
    font-size: 11px;
    border-radius: 8px;
    border: 2px solid #979797;  
    outline: none;
    background-color: #f5f5f5; 
    cursor: pointer;
    transition: all 0.3s ease;
}
.ItemFilterArea select option {
    padding: 10px;
}
.ItemFilterArea select:focus {
    border-color: #1a2866;  
    background-color: #fff;  
}


.SettingsBtn{
    padding: 4px 11px;
    margin: 0 5px;
    font-size: 11px;
    border: none;
    background-color: #1e2f71;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.SettingsBtn:disabled {
    background-color: #111c47;
}
.SettingsBtnOpened{
    background-color: #111c47;
}
/* ============================================
ITEM TEBLE DESIGN
============================================ */
.ItemTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.ItemTable th,
.ItemTable td {
    color: #000;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    transition: color 0.3s ease;
}
.ItemTable tr{
    transition: all 0.3s ease;
}
.ItemTable tr:hover{
    background-color: #e3e3e3 !important;
}

.IdColumn{
    width: 20px !important;
}
.ItemTable th {
    font-size: 12px;
    overflow: hidden;  
    text-overflow: ellipsis; 
    white-space: nowrap; 
    background-color: #ffffff !important;
    font-weight: bold;
    color: #333;
}
.ItemTable tr:nth-child(even) {
    background-color: #f9f9f9; 
}
.ItemTable tr:nth-child(odd) {
    background-color: #ececec; 
}
.ItemTable td {
    font-size: 12px;
    overflow: hidden;  
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
.ItemTable button {
    padding: 4px 7px;
    margin: 0 3px;
    font-size: 11px;
    border: none;
    background-color: #2a3c86;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.ItemTable button:hover {
    background-color: #1f2e6b;
}

.ItemTable button:focus {
    outline: none; 
    background-color: #182454; 
    box-shadow: 0 0 0 3px rgba(19, 142, 203, 0.5);
}

.Pagenumberr{
    font-size: 12px;
}



.EditBtnnn {
    background-color: #cbbc13 !important;
    color: #fff;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}
.EditBtnnn:hover {
    background-color: #ab9e11 !important;
}
.EditBtnnn:focus {
    outline: none; 
    background-color: #ab9e11 !important; 
    box-shadow: 0 0 0 3px rgba(225, 255, 0, 0.5) !important;
}


.RemoveBtnnn {
    background-color: #9f2424 !important;
    color: #fff;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}
.RemoveBtnnn:hover {
    background-color: #822020 !important;
}
.RemoveBtnnn:focus {
    outline: none; 
    background-color: #822020 !important; 
    box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.5) !important;
}

.SuccessBtnnn {
    background-color: #2dab1c !important;
    color: #fff;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}
.SuccessBtnnn:hover {
    background-color: #248117 !important;
}
.SuccessBtnnn:focus {
    outline: none; 
    background-color: #248117 !important; 
    box-shadow: 0 0 0 3px rgba(0, 255, 0, 0.5) !important;
}


.datefiltering{
    font-size: 11px;
    gap: 3px;
    display: flex;
    align-items: center;
}
.datefiltering input{
    padding: 0px 3px;
}

.PagenationArea{
    gap: 10px;
    width: 100%;
    justify-content: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}
.PagenationArea button{
    padding: 4px 12px;
    font-size: 11px;
    margin: 0 5px;
    border: none;
    background-color: #1e2f71;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.PagenationArea button:disabled {
    background-color: #111c47;
}

.BlurryBackground{
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.7); 
    top: 0;
    right: 0;
}





/* ============================================
ADD ITEM FORM
============================================ */

.AddItemForm{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AddItemForm form{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}
.AddItemForm input{
    width: 100%;
    background-color: #e5e5e5;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: none;
}
.AddItemForm button {
    width: 100%;
    background-color: #138ecb;
    color: #fff;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Adds smooth transition for hover/focus */
}

.AddItemForm button:hover {
    background-color: #106ba3; 
}

.AddItemForm button:focus {
    outline: none; 
    background-color: #0f5490; 
    box-shadow: 0 0 0 3px rgba(19, 142, 203, 0.5);
}

.ImageArea{
    height: 200px;
    width: 350px;
    background-color: #b7b7b7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ImageArea button{
    padding: 3.5px;
    width: 100px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3); 
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    transition: background 0.3s ease;
}
.ImageArea button:hover{
    background-color: rgba(0, 0, 0, 0.5); 
}
.ImageArea button:focus {
    background-color: rgba(0, 0, 0, 0.5); 
    box-shadow: none; /* Adds a soft blue glow around the button when focused */

}




.closeBtn {
    background-color: transparent;
    z-index: 10;
    position: absolute;
    font-size: 30px;
    top: 20px;
    right: 15px;
    border: none;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}
.closeBtn:hover,
.closeBtn:focus{
    scale: 1.1;
    color: #cfcfcf;
}



.HeaderSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}












.alignerforDIV2 {
    text-align: center;
    border-radius: 8px;
    margin: 0 auto;
    padding: 0 !important;
  }
  
.ScrollAreaHere {
    text-align: center;
    border-radius: 8px;
    margin: 0 auto;
    overflow-y: auto;
    width: 100%;
    padding: 10px;
  }
  
  
.alignerforDIV2 h2 {
    font-size: 1px !important;
    color: #0a1f48;
    margin-bottom: 20px;
  }
  
  .alignerforDIV2 ul {
    list-style-type: none;
    padding: 0;
  }
  
  .userCard {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .userCard p {
    font-size: 13px;
    color: #38404f;
  }
  
  .alignerforDIV2 strong {
    font-weight: bold;
  }


  .IconCircle{
    background-color: #1d2781 !important;
    color: #fff;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}







