



/* ============================================
MAIN BODY AREA
============================================ */
.Gen_Background {
    width: 100vw;
    height: 100vh;
    color: #101b49;
    overflow: auto;

}

@media (max-width: 600px) {
    .SecondBodyLayer{
        height: 150% !important;
    }
}

.SecondBodyLayer{
    height: 100%;
    width: 100%;
    overflow: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ============================================
LOGIN FORM
============================================ */
.SelectionDiv{
    border: #858585 solid 1px;
    width: 100%;
    border-radius: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
}

.SelectionDiv button{
    background-color: transparent; 
    width: 100%;
    color: #191919;
    border: none;
    border-radius: 50px;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;    
}
.SelectionDiv button:hover{
    color: #4591CF;
    background-color: #b9e0ff; 
}
.SelectionDiv button.active {
    background-color: #4591CF; 
    color: white; 
}



/* ============================================
RESERVATION FORM
============================================ */
.MAINAVRITEMSDIV{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ItemInformationArea{
    display: flex;
    width: 900px;
    gap: 20px;
}
@media (max-width: 600px) {
    .ItemInformationArea{
        display:block;
        width: 320px;
    }     
    .VenueInformationArea{
        display: flex;
        width: 320px;
        gap: 20px;
}

}
.ItemInformationArea label,
.VenueInformationArea label{
    color: #1a1a1a;
}


.ItemInformationArea div,
.VenueInformationArea div{
    width: 100%;
}


.ItemReservationForm{
    position: relative;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255); 
    border-radius: 8px;
}

.mainLogo{
    display: flex;
    align-items: center;
}
.mainLogo img{
    width: 40px;
}
.mainLogo h2{
    padding-left: 10px;
    font-size: 36px;
    font-weight: 400;
}

.ItemReservationForm span {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.ItemReservationForm input,
.ItemReservationForm select,
.ItemReservationForm textarea,
.ItemReservationForm time {
    margin: 10px 0px;
    background-color: #ffffff; 
    border: solid #bababa 1px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    font-size: 15px;
    color: #191919;
    color-scheme: white !important;
}
.messagetypebox {
    resize: none; 
    height: 100px !important;
}
.ItemReservationForm input:focus,
.ItemReservationForm select:focus,
.ItemReservationForm textarea:focus {
    border-bottom: 2px solid #208cff;
    outline: none; 
    transition: border-bottom 0.3s ease-in-out;
}
.ItemReservationForm h4{
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}
.ItemReservationForm h3{
    margin-top: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
}

.SubmitBtn{
    font-weight: bold;
    border: none;
    background-color: #4591CF;
    color: #fff;
    width: 300px;
    margin-top: 10px;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}
.SubmitBtn:focus,
.SubmitBtn:hover {
    background-color: #5eadef;
    border: none;
    outline: none;
}

.ScanQRBtn{
    margin-top: 0px;
    font-size: 12px;    
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: #0a60bd;
    transition: transform 0.3s ease, color 0.3s ease;
}
.ScanQRBtn:hover,
.ScanQRBtn:focus {
    transform: scale(1.05); 
    color: #d1e7ff;
    border: none;
    outline: none;
}

.AddItemBtn{
    margin-top: 0px;
    font-size: 12px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: #00346f;
    transition: transform 0.3s ease, color 0.3s ease;
}
.AddItemBtn:hover,
.AddItemBtn:focus {
    transform: scale(1.03); 
    color: #08458c;
    border: none;
    outline: none;
}


.WarningBtn{
    margin-top: 0px;
    font-size: 13px;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 500;
    color: #ff4848;
    transition: transform 0.3s ease, color 0.3s ease;
}
.WarningBtn:hover,
.WarningBtn:focus {
    transform: scale(1.05); 
    color: #dd2727;
    border: none;
    outline: none;
}

.FlexBetweeen{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.FlexBetweeen2{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* ============================================
QR SCANNER AREA
============================================ */
.qrOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.qrScanner {
    position: relative;
    width: 350px;
    max-width: 350px;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.qrReader {
    width: 100%;
    height: auto;
}

.closeBtn {
    background-color: transparent;
    z-index: 10;
    position: absolute;
    font-size: 30px;
    top: 20px;
    right: 15px;
    border: none;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}
.closeBtn:hover,
.closeBtn:focus{
    scale: 1.1;
    color: #cfcfcf;
}


.HasDataAlr{
    color: #14579f !important;
}

.BlurryBackground{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.7); 
    top: 0;
    right: 0;
    z-index: 10;
}


.TableContainer{
    margin: 10px 0px;
    background-color: #ffffff; 
    border: solid #bababa 1px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    font-size: 15px;
    color: #191919;
    color-scheme: white !important;  
    height: 330px !important;
    resize: none;
}



.TableAreaaa{
    background-color: #ffffff; 
    border: solid #bababa 1px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    font-size: 15px;
    color: #2b2b2b;
    border-collapse: collapse;
}

.TableAreaaa tr{
    border: 1px solid #bababa;
}
.TableAreaaa td{
    padding: 5px;
}


.RemoveButton{
    background-color: #ff4848;  
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-size: 11px;
    padding: 3px;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;    
}
.RemoveButton:hover{
    background-color: #ce1d1d; 
}
.RemoveButton.active {
    background-color: #ce1d1d; 
}

.aligntoright{
    display: flex;
    justify-content: flex-end;
}





/*
WARNING DROPDOWN BOX DESIGN
*/

/* Basic dropdown container */
.ConflictDropdown {
    position: absolute;
    bottom: 20px; 
    left: 0;
    right: 0;
    max-height: 300px; 
    overflow-y: auto;
    background-color: #ffbcbc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensure dropdown appears on top */
    padding: 10px;

  }
  
  .ConflictDropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .ConflictDropdown li {
    padding: 10px;
    border-bottom: 1px solid #da2e2e;
    font-size: 14px;
    color: #902828;
  }
  
  .ConflictDropdown li:last-child {
    border-bottom: none; /* Remove border on the last item */
  }
  
  .ConflictDropdown strong {
    font-weight: 500;
    color: #831111;
  }
  


  .FormCloseButton{
    width: 30px !important;
    height: 30px !important;
    background-color: #b21414 !important;
    line-height: 0px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Adds smooth transition for hover/focus */
}
.FormCloseButton:focus,
.FormCloseButton:hover
{
    box-shadow: 0 0 0 3px rgba(253, 42, 0, 0.0) !important;
    background-color: #920e0e !important;
}

