



/* ============================================
MAIN BODY AREA
============================================ */
.Gen_Background {
    background-image: url("../public/Assets/Img/Login_SRCB_BackgroundImg.png");
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #727272;
    background-position: center;
    width: 100vw;
    height: 100vh;
    color: #fff;
}


.SecondBodyLayer{
    height: 100%;
    width: 100%;
    overflow: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ============================================
LOGIN FORM
============================================ */
.SelectionDiv{
    background-color: rgba(0, 0, 0, 0.5); 
    width: 100%;
    border-radius: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.SelectionDiv button{
    background-color: transparent; 
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 50px;
    height: 30px;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.SelectionDiv button:hover{
    background-color: rgba(0, 51, 255, 0.2); 
    color: #fff;
}
.SelectionDiv button.active {
    background-color: #001a83; 
    color: white; 
}



/* ============================================
RESERVATION FORM
============================================ */
.MAINAVRITEMSDIV{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ItemInformationArea{
    display: flex;
    width: 900px;
    gap: 20px;
}
@media (max-width: 600px) {
    .ItemInformationArea{
        display:block;
        width: 320px;
    }     
    .VenueInformationArea{
        display: flex;
        width: 320px;
        gap: 20px;
}

}
.ItemInformationArea label,
.VenueInformationArea label{
    color: #d0d0d0;
}


.ItemInformationArea div,
.VenueInformationArea div{
    width: 100%;
}

.ItemSelectionArea textarea{
    height: 330px !important;
    resize: none;
}

.ItemReservationForm{
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 8px;
}

.mainLogo{
    display: flex;
    align-items: center;
}
.mainLogo img{
    width: 40px;
}
.mainLogo h2{
    padding-left: 10px;
    font-size: 36px;
    font-weight: 400;
}

.ItemReservationForm span {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}


.ItemReservationForm input,
.ItemReservationForm textarea,
.ItemReservationForm time {
    margin: 10px 0px;
    background-color: rgba(0, 0, 0, 0.5); 
    border: none;  
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    font-size: 15px;
    color: #ffffff;
    color-scheme: dark !important;
}
.messagetypebox {
    resize: none; 
    height: 100px !important;
}
.ItemReservationForm input:focus,
.ItemReservationForm textarea:focus {
    border-bottom: 1px solid #007BFF;
    outline: none; 
    transition: border-bottom 0.3s ease-in-out;
}
.ItemReservationForm h4{
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}
.ItemReservationForm h3{
    margin-top: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
}

.SubmitBtn{
    font-weight: bold;
    border: none;
    background-color: #4591CF;
    color: #fff;
    width: 300px;
    margin-top: 10px;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}
.SubmitBtn:focus,
.SubmitBtn:hover {
    background-color: #5eadef;
    border: none;
    outline: none;
}

.ScanQRBtn{
    margin-top: 0px;
    font-size: 12px;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: #007BFF;
    transition: transform 0.3s ease, color 0.3s ease;
}
.ScanQRBtn:hover,
.ScanQRBtn:focus {
    transform: scale(1.05); 
    color: #d1e7ff;
    border: none;
    outline: none;
}




/* ============================================
QR SCANNER AREA
============================================ */
.qrOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.qrScanner {
    position: relative;
    width: 350px;
    max-width: 350px;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.qrReader {
    width: 100%;
    height: auto;
}

.closeBtn {
    background-color: transparent;
    z-index: 10;
    position: absolute;
    font-size: 30px;
    top: 20px;
    right: 15px;
    border: none;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}
.closeBtn:hover,
.closeBtn:focus{
    scale: 1.1;
    color: #cfcfcf;
}
