



/* ============================================
MAIN BODY AREA
============================================ */
.Gen_Body{
    background-color: #fff; /* e8e8e8 */
    height: 100vh;
    width: 100vw;
    color: black;
    display: flex;
}




/* ============================================
HEADER PART AREA
============================================ */
.HeaderPart{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); 
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: #fff;
    height: 60px;
    width: 100%;
}

.HeaderProfilePart{
    display: flex;
    align-items: center;
}
.HeaderProfilePart img{
    background-color: #bdbdbd;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease, border 0.3s ease;
    cursor: pointer;
}
.HeaderProfilePart img:hover{
    border: 1px solid #1a2866; 
}
.HeaderProfilePart img.ProfileOpened{
    border: 2px solid #1a2866; 
    transform: scale(1.1);
}
.HeaderProfilePart p{
    font-size: 13px;
    margin-right: 10px;   
}
.DropdownMenu {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    font-size: 13px;
    z-index: 5;
}
.DropdownMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.DropdownMenu li {
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #000;
}
.DropdownMenu li:hover {
    background-color: #f1f1f1;
}

.NotifBtn{
    position: relative;
    background-color: transparent;
    border: none;
    color: #1a2866;  
    transition: transform 0.3s ease, color 0.3s ease;
}
.NotifBtn p{
    position: absolute;
    top: -5px;
    left: 13px;
    background-color: #fa3939;
    padding: 3px;
    border-radius: 10px;
    line-height: 9px;
    font-size: 10px;    
}
.NotifBtn:hover{
    scale: 1.1;
}
.NotifBtnOpened{
    background-color: transparent;
    border: none;
    color: #383838;  
    scale: 1.1;
}
@media (max-width: 600px) {
    .HeaderPart{
        justify-content:space-between;
    } 
    .ImageArea{
        height: 150px;
        width: 310px;
        background-color: #b7b7b7;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
    }
}
.NotifBox{
    z-index: 5;
    position: absolute;
    top: 50px;
    right: 160px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 13px; 
    width: 200px;
    height: 200px;
}
.NotifBox h4{
    width: 100%;
    text-align: center;
    background-color: #101b49;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
.NotifBox div{
    padding: 2px;
}
.SeparationLine {
    width: 1px;
    height: 40px; 
    background-color: #ccc; 
    margin: 0 10px; 
}





/* ============================================
SIDEBAR PART AREA
============================================ */
.SidebarPart{
    background: linear-gradient(to bottom, #1a2866, #101b49);
    height: 100%;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s ease; 
    overflow: hidden;
}
.SidebarPart.closed {
    width: 80px;
}
.SidebarPart.closed button {
    justify-content: center; 
}
.mainLogo{
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.0)); 
    padding: 10px;
    display: flex;
    align-items: center;

}
.mainLogo img{
    width: 40px;
}

@media (max-width: 600px) {
    .mainLogo h2{
    display: none;
    }
}

.mainLogo h2{
    color: #00145a;
    padding-left: 3px;
    font-size: 30px;
    font-weight: 500;
}
.SidebarPart button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent; 
    color: white;
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.SidebarPart button.active {
    background-color: #101b49; 
    color: white; 
    font-weight: bolder;
}

.SidebarPart svg {
    margin-right: 8px; 
}
.SidebarToggler{
    background-color: rgba(0, 0, 0, 0.3) !important;
    width: 50px !important;
    height: 50px !important;
    text-align: center;
    border-radius: 10px;
    margin-top: 50px !important;
}
.SidebarPart.closed .SidebarToggler {
    transition: transform 0.3s ease; 
    transform: rotate(180deg); 
}
@media (max-width: 600px) {
    .SidebarPart {
        width: 0px;
    }
    .BurgerIcon{
        display: flex !important;
    }
    .SidebarPart.closed {
        width: 80px;
    }
    .SidebarPart.closed .SidebarToggler {
        transition: transform 0.3s ease; 
        transform: rotate(0deg); 
    }
}
.BurgerIcon{
    display: none;
    background-color: transparent;
    color: #101b49;
    border: none;
}
















/* ============================================
BODY AREA
============================================ */
.RightSideArea{
    background-color: transparent;
    width: 100%;
    height: 100%;
}
.BodyArea{
    background-color: transparent;
    height: 90%;
    width: 100%;
    padding: 10px;
    overflow: auto;
    padding-bottom:50px;
}

@media (max-width: 600px) {
    .BodyArea{
        height: 80%;
    } 
}







/* ============================================
DASHBOARD AREA
============================================ */
.DashBodyArea{
    width: 100%;
    height: 100%;
}

.alignerforDIV{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .LowerSquares {
        grid-template-columns: 1fr !important;
    }

    .DashBodyArea{
        width: 100%;
    } 
    .UpperSquares{
        display: block;
        gap: 10px;
        flex-direction: column;
    }
    


}

.UpperSquares{
    display: flex;
    gap: 10px;
}

.UpperSquares div{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); 
    background-color: #fff;
    color: #0a1f48;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    white-space: nowrap;
}
.UpperSquares span{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.LowerSquares {
    display: grid;            
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.LowerSquaresDIV{
    background-color: #fff;
    color: #0a1f48;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); 

}

.DashTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.DashTable th,
.DashTable td {
    color: #000;
    padding: 10px;
    text-align: left;
    font-size: 12px;
    height: 30px !important; /* Apply height to th and td */
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 

}
.DashTable tr{
    border: 1px solid #dddddd;
}

.DashTable th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
    font-weight: bold;
    color: #333;
    padding: 5px;
}
.DashTable tr{
    transition: all 0.3s ease;
}
.DashTable tr:hover{
    background-color: #f3f3f3 !important;
}


.DashTableWrapper {
    border: 1px solid #ddd;
    border-radius: 3px;

    overflow-y: auto;
    overflow-x: auto;
    padding: 0px !important;

    background-color: #f9f9f9 !important;
}

.DashTable tr:nth-child(even) {
    background-color: #fff;
}

.DashTable tr:nth-child(odd) {
    background-color: #fff;
}

.DashTable button {
    padding: 2px 8px;
    margin: 0 2px;
    border: none;
    background-color: #2a3c86;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.DashTable button:hover {
    background-color: #1f2e6b;
}

.DashTable button:focus {
    outline: none;
    background-color: #182454;
    box-shadow: 0 0 0 3px rgba(19, 142, 203, 0.5);
}









/* ============================================
ITEM AREA
============================================ */
.ItemBodyArea{
    width: 100%;
    height: 100%;
}

.ItemBodyArea h2{
    color: #0a1f48;
    font-size: 22px;
}
.ItemBodyArea p{
    color: #1a2866;
    font-size: 13px;
}

@media (max-width: 600px) {
    .ItemBodyArea{
        width: 400%;
    } 
}



.ItemFilterArea{
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding-bottom: 20px;
    align-items: center;
}


/* SEARCH BAR */

.SearchBarrrr {  
    padding: 2px 15px;
    font-size: 13px;  
    border: 2px solid #bcbcbc;  
    border-radius: 30px; 
    background-color: #ffffff; 
    outline: none;
    transition: all 0.3s ease-in-out;  
    color: #000;
}

.SearchBarrrr:focus {
    border-color: #1a2866;  
    background-color: #fff; 
}
.SearchBarrrr:hover {
    border-color: #1a2866;  
}
.SearchBarrrr::placeholder {
    color: #888888;  
    font-style: italic;  
}

/* SELECT CATEGORY */
.ItemFilterArea select {
    color: #000;
    width: 100%;
    padding: 2px 10px;
    font-size: 11px;
    border-radius: 8px;
    border: 2px solid #979797;  
    outline: none;
    background-color: #f5f5f5; 
    cursor: pointer;
    transition: all 0.3s ease;
}
.ItemFilterArea select option {
    padding: 10px;
}
.ItemFilterArea select:focus {
    border-color: #1a2866;  
    background-color: #fff;  
}


.SettingsBtn{
    padding: 4px 11px;
    margin: 0 5px;
    font-size: 11px;
    border: none;
    background-color: #1e2f71;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.SettingsBtn:disabled {
    background-color: #111c47;
}
.SettingsBtnOpened{
    background-color: #111c47;
}
/* ============================================
ITEM TEBLE DESIGN
============================================ */
.ItemTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.ItemTable th,
.ItemTable td {
    color: #000;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.IdColumn{
    width: 20px !important;
}
.ItemTable th {
    font-size: 12px;
    overflow: hidden;  
    text-overflow: ellipsis; 
    white-space: nowrap; 
    background-color: #ffffff !important;
    font-weight: bold;
    color: #333;
}
.ItemTable tr:nth-child(even) {
    background-color: #f9f9f9; 
}
.ItemTable tr:nth-child(odd) {
    background-color: #ececec; 
}
.ItemTable td {
    font-size: 12px;
    overflow: hidden;  
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
.ItemTable button {
    padding: 4px 7px;
    margin: 0 3px;
    font-size: 11px;
    border: none;
    background-color: #2a3c86;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.ItemTable button:hover {
    background-color: #1f2e6b;
}

.ItemTable button:focus {
    outline: none; 
    background-color: #182454; 
    box-shadow: 0 0 0 3px rgba(19, 142, 203, 0.5);
}

.Pagenumberr{
    font-size: 12px;
}



.EditBtnnn {
    background-color: #cbbc13 !important;
    color: #fff;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}
.EditBtnnn:hover {
    background-color: #ab9e11 !important;
}
.EditBtnnn:focus {
    outline: none; 
    background-color: #ab9e11 !important; 
    box-shadow: 0 0 0 3px rgba(225, 255, 0, 0.5) !important;
}


.RemoveBtnnn {
    background-color: #9f2424 !important;
    color: #fff;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}
.RemoveBtnnn:hover {
    background-color: #822020 !important;
}
.RemoveBtnnn:focus {
    outline: none; 
    background-color: #822020 !important; 
    box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.5) !important;
}

.SuccessBtnnn {
    background-color: #2dab1c !important;
    color: #fff;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}
.SuccessBtnnn:hover {
    background-color: #248117 !important;
}
.SuccessBtnnn:focus {
    outline: none; 
    background-color: #248117 !important; 
    box-shadow: 0 0 0 3px rgba(0, 255, 0, 0.5) !important;
}


.datefiltering{
    font-size: 11px;
    gap: 3px;
    display: flex;
    align-items: center;
}
.datefiltering input{
    padding: 0px 3px;
}

.PagenationArea{
    padding-top: 15px;
    gap: 10px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row !important;
    align-items: center;
}
.PagenationArea button{
    padding: 4px 12px;
    font-size: 11px;
    margin: 0 5px;
    border: none;
    background-color: #1e2f71;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.PagenationArea button:disabled {
    background-color: #111c47;
}









.BlurryBackground{
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.7); 
    top: 0;
    right: 0;
    z-index: 10;
}
.BlurryBackground2{
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.7); 
    top: 0;
    right: 0;
    z-index: 10;
}

/* ============================================
ADD ITEM FORM
============================================ */

.AddItemForm{
    width: 390px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AddItemForm h2{
    text-align: center;
}

.AddItemForm form{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}
.AddItemForm input{
    border: none;
    border-bottom: 1px solid #7eb8e2;
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
}
.AddItemForm input:focus,
.AddItemForm input:hover{
    border: none;
    outline: none; 
    border-bottom: 1px solid #04375b;
}

.SpanUpper{
    margin-top: 30px;       
    }

.AddItemForm label{
    font-size: 10px;
    color: #6c6c6c;
    line-height: 1px;
}
.AddItemForm p{
    font-size: 14px;
    color: #001e71;
}
.AddItemForm select{
    width: 100%;
    border: none;
    outline: none; 
    border-bottom: 1px solid #7eb8e2;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
}
.AddItemForm select:focus,
.AddItemForm select:hover{
    border: none;
    outline: none; 
    border-bottom: 1px solid #04375b;
}

.CenterItemDIV{
    display: flex;
    align-items: center;
    justify-content: center;
}
.SpanHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.FormCloseButton{
    width: 30px !important;
    height: 30px !important;
    background-color: #b21414 !important;
    line-height: 0px;
}
.FormCloseButton:focus,
.FormCloseButton:hover
{
    box-shadow: 0 0 0 3px rgba(253, 42, 0, 0.0) !important;
    background-color: #920e0e !important;
}





.CommonButtonn{
    padding: 8px 20px;
    width: 100%;
    background-color: #051963;
    color: #fff;
    margin: 5px 0px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Adds smooth transition for hover/focus */
}
.CommonButtonn:hover {
    background-color: #0a1f48; 
}

.CommonButtonn:focus {
    outline: none; 
    background-color: #0a1f48; 
    box-shadow: 0 0 0 3px rgba(4, 46, 255, 0.5);
}

.ResponsiveAligner{
    display: flex;
    flex-direction: row;
}
@media (max-width: 600px) {
    .ResponsiveAligner{
        flex-direction: column;
    } 
}
.FieldsArea{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
}

.AddItemForm button {
    width: 100%;
    background-color: #138ecb;
    color: #fff;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Adds smooth transition for hover/focus */
}

.AddItemForm button:hover {
    background-color: #106ba3; 
}

.AddItemForm button:focus {
    outline: none; 
    background-color: #0f5490; 
    box-shadow: 0 0 0 3px rgba(19, 142, 203, 0.5);
}
.Spaneexx{
    width: 300px;
}

.RightAreaa{
    width: 350px;
}
.RightAreaa2{
    width: 300px;
}
.SidebarPart button.active {
    background-color: #101b49; 
    color: white; 
    font-weight: bolder;
}



.ImageArea{
    height: 264px;
    width: 250px;
    background-color: #b7b7b7;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.ImageArea button{
    padding: 3.5px;
    width: 100px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3); 
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    transition: background 0.3s ease;
}
.ImageArea button:hover{
    background-color: rgba(0, 0, 0, 0.5); 
}
.ImageArea button:focus {
    background-color: rgba(0, 0, 0, 0.5); 
    box-shadow: none; /* Adds a soft blue glow around the button when focused */

}




.closeBtn {
    background-color: transparent;
    z-index: 8;
    position: absolute;
    font-size: 30px;
    top: 20px;
    right: 15px;
    border: none;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}
.closeBtn:hover,
.closeBtn:focus{
    scale: 1.1;
    color: #cfcfcf;
}



.HeaderSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SpanFlex{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}



.Formmm{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 355px;
}

.Formmm h4{
    color: #00145a;
    font-size: 20px;
}
.Formmm p{
    color: #181818;
    font-size: 15px;
}
.Formmm label{
    color: #181818;
    font-size: 15px;
}
.ItemBoxxx {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c8c8c8;
    padding: 10px;
    border-radius: 5px;

}
.ItemBoxxx img{
    border-radius: 8px;
    height: 150px;
    width: 300px;
    background-color: #fff;
}

.ScrollableBoxx{
    height: 300px;
    overflow-y: auto;
}

.ItemBoxxxSelected{
    background-color: #50b0e1;
}

.SelectedItemDetails p,
.SelectedItemDetails h5,
.SelectedItemDetails label {
    color: #00145a;
}

.SelectedItemDetails{
    display: flex;
    flex-direction: column;
}
.SelectedItemDetails input{
    padding: 2px 15px;
    font-size: 13px;  
    border: 2px solid #979797;  
    border-radius: 30px; 
    background-color: #f5f5f5; 
    outline: none;
    transition: all 0.3s ease-in-out;  
    color: #000;
}

.SpanFlexx{
    display: flex;
    justify-content:space-between;
}

.SpanFlexx2{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.SpanFlexx3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    gap: 10px;
}
.SpanFlexx3 button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    color: #142f93;
    transition: all 0.3s ease;
}
.SpanFlexx3 button:hover{
    color: #0a184e;
}

.ExitButtoonnn{
    background-color: #ce2d2d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
}



.SearchBarrr{
    width: 100%;  
    margin: 10px 0px;
    padding: 2px 15px;
    font-size: 13px;  
    border: 2px solid #979797;  
    border-radius: 8px; 
    background-color: #f5f5f5; 
    outline: none;
    transition: all 0.3s ease-in-out;  
    color: #000;
}


.SubmitButtonnn {
    width: 100%;
    background-color: #138ecb;
    color: #fff;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Adds smooth transition for hover/focus */
}

.SubmitButtonnn:hover {
    background-color: #106ba3; 
}

.SubmitButtonnn:focus {
    outline: none; 
    background-color: #0f5490; 
    box-shadow: 0 0 0 3px rgba(19, 142, 203, 0.5);
}

.WarningBtn{
    text-align: left;
    margin-top: 0px;
    font-size: 13px;
    border: none;
    background-color: transparent !important;
    border: none !important;
    text-decoration: underline;
    font-weight: 500;
    color: #ff4848 !important;
    transition: transform 0.3s ease, color 0.3s ease;
}

.WarningBtn:focus,
.WarningBtn:hover{
    outline: none !important; 
    border: none !important;
    box-shadow: none !important;
    color: #c32d2d !important;
}


.ConflictDropdown {
    position: absolute;
    left: 10px;
    width: 360px;
    bottom: 50px;
    max-height: 300px; 
    overflow-y: auto;
    background-color: #ffbcbc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensure dropdown appears on top */
    padding: 10px;

  }
  
  .ConflictDropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .ConflictDropdown li {
    padding: 10px;
    border-bottom: 1px solid #da2e2e;
    font-size: 14px;
    color: #902828;
  }
  
  .ConflictDropdown li:last-child {
    border-bottom: none; /* Remove border on the last item */
  }
  
  .ConflictDropdown strong {
    font-weight: 500;
    color: #831111;
  }
  

  .Formmmm{
    position: relative;
  }




.NotificationItem{
    display: flex;
    padding: 7px 5px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15); 
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.NotifText{
    font-size: 10px !important;
}


.IconCircle{
    background-color: #1d2781 !important;
    color: #fff;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.BtnIconCircle{
    background-color: #fff !important;
    color: #1d2781;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    border-radius: 100%;
}







.FormCloseButton2{
    position: absolute;
    top: 1px;
    right: 5px;
    border: 2px solid #ffffff !important;
    width: 30px !important;
    height: 30px !important;
    background-color: #b21414 !important;
    line-height: 0px;
}
.FormCloseButton2:focus,
.FormCloseButton2:hover
{
    box-shadow: 0 0 0 3px rgba(253, 42, 0, 0.0) !important;
    background-color: #920e0e !important;
}

.ProfileAreaHeader{
    background-color: #d3d3d3;
    border-radius: 8px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.ProfileImg img{
    position: absolute;
    left: 6px;
    top: 35px;
}
.ProfileImg img{
    width: 70px;
    border-radius: 100%;
    border: 5px solid #ffff;
}
.FullnameArea{
    padding-left: 80px;
    color: #00145a;
}
.Titleee{
    font-weight: 300;
    font-size: 15px;
}
.FormEditButton{
    position: absolute;
    top: 110px;
    right: 10px;
    width: 25px !important;
    height: 25px !important;
    padding: 5px !important;
    display: flex;
    align-items: center;
    background-color: #3c3535 !important;
}
.FormEditButton:hover{
    background-color: #252121 !important;
}
.SpanFlexer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.FormCancelButton{
   font-weight: 500;
   color: #414141;
   cursor: pointer;
   padding: 3px;
   font-size: 13px;
}

.FormSubmitButton{
    font-weight: 500;
    color: #fff;
    background-color: #0670b3;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    text-align: center;
    padding: 3px;
    font-size: 13px;
 }

 .Formmmm222{
    position: relative;
    width: 350px;
  }


.CancelBtn{
    background-color: #932c2c !important;
}
.CancelBtn:hover{
    background-color: #781f1f !important;
}
.CancelBtn:focus{
    background-color: #781f1f !important;
    box-shadow: 0 0 0 3px rgba(170, 5, 5, 0.5) !important;
}

.Unread{
    background-color: #ffbcbc;
}

.NotificationWrapper{
    position: absolute;
    overflow-y: auto;
    height: 100% !important;
    width: 100% !important;
    scrollbar-width: thin; 
}